
.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.banner-image{background:url(lights-night-stadium-sport-background-3d-render_41667-230.jpg)no-repeat bottom center
fixed ; background-size: cover;padding:150px 0;position: relative;}
.banner-image::before{
  content:'';
  position: absolute;
  top:0;
  left: 0;
  background: rgba(0, 0, 0, 0.671);
  width: 100%;
  height: 100%;
}
.banner-image h1 {
  color: #FFF;
  position: relative;
  bottom: 115px;
  margin-left: 34px;
}

.banner-image p {
  color: #FFF;
  position: relative;
  bottom: 94px;
  margin-right: 54%;
  margin-left: 37px;
}
@media only screen and (max-device-width: 701px) {
  .banner-image p {
      color: #FFF;
      position: relative;
      bottom: 94px;
     
  
      
  }

}